.paragraph-wrapper {
    color:rgb(8, 72, 127);
    font-size: larger;
    text-align: center;
    border: 1px solid rgb(190, 36, 36);
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}